@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 3px;
}
.info {
  line-height: 1.5em;
}

select,
textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
  padding: 10px 0;
  letter-spacing: 1px;
  line-height: 1.8em;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.txtarea {
  height: 200px;
}

/*Subject Feedback Form*/

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  max-width: 500px;
  line-height: 65px;
  padding-left: 60px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.icons-info {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: #bdbdbd;
  color: #000000;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn {
  float: right;
  background: #2e94e3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover {
  background: #0582e3;
}

/*Media Screen*/

@media screen and (max-width: 950px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info {
    margin: 30px 20px 0 -40px;
    font-size: 13px;
  }
  .icons-info {
    font-size: 20px;
  }
  .icons-info-email {
    font-size: 14px;
  }
  .contact-form {
    margin: 30px 20px 0 0;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form .text-box {
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
